* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --principal-color:#379634;
    --secundo-color:#F1D302;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}
body {
    display: flex;
    height: 100vh;
    background: var(--fd-color);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* Diseño de scroll bar */
html::-webkit-scrollbar {
    width: 0;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Estilos generales */
.contenedor-rutaturistica {
    max-width: 700px;
    width: 100%;
    background: #fff;
    border: var(--principal-color);
    padding: 25px 30px;
    border-radius: 5px;
    margin: 50px auto;
    max-height: 90vh;
    overflow-y: auto;
}
.contenedor-rutaturistica .titulo {
    font-size: 25px;
    font-weight: 700;
    position: relative;
}
.contenedor-rutaturistica .titulo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--principal-color);
}
form .proveedor-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .proveedor-info .input-caja {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.input-caja .detalles {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-caja select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--principal-color);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-bottom-width: 2px;
}
.input-caja select:focus {
    border-color: var(--principal-color);
}
.input-caja input,
.input-caja textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--principal-color);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-bottom-width: 2px;
}
.input-caja textarea {
    height: auto;
    resize: none;
    padding: 10px 15px;
}
.proveedor-info .input-caja input:focus,
.proveedor-info .input-caja input:valid,
.proveedor-info .input-caja textarea:focus,
.proveedor-info .input-caja textarea:valid {
    border-color: var(--principal-color);
}
.input-caja {
    position: relative;
}
.input-caja input, .input-caja select, .input-caja textarea {
    padding-right: 33px; 
    width: 100%;
}
.input-caja i {
    position: absolute;
    right: 15px; 
    top: 65%;
    transform: translateY(-50%);
    color: #747474;
    pointer-events: none; 
}
.boton .boton-enlace i {
    margin-right: 8px; 
}
/* Estilo para el botón */
.boton {
    height: 45px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton .registro-ruta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--fd-color);
    border: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    background: var(--principal-color);
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
    text-decoration: none;
    box-sizing: border-box;
}
.boton .registro-ruta:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}
.registro-ruta i {
    margin-left: 5px; 
}
/* Responsivo para tabletas y móviles */
@media (max-width: 584px) {
    body {
        background: var(--fd-color);
    }
    .contenedor-rutaturistica {
        max-width: 100%;
        overflow-y: hidden;
    }
    form .proveedor-info .input-caja {
        margin-bottom: 15px;
        width: 100%;
    }
    .boton input {
        margin: 25px 0;
        display: block; 
        width: 100%;
    }
    .contenedor-rutaturistica form .proveedor-info {
        max-height: 300px;
        overflow-y: scroll;
    }
    .proveedor-info::-webkit-scrollbar {
        width: 0;
    }
    .categoria {
        display: flex;
        flex-direction: column;
    }
    .categoria label {
        margin-bottom: 10px;
    }
}
@media (max-width: 400px) {
    form .proveedor-info .input-caja {
        margin-bottom: 10px;
        width: 100%;
    }
    .boton input {
        margin: 10px 0 20px;
        padding: 8px;
        font-size: 14px;
        border-radius: 5px;
    }
    .contenedor-rutaturistica form .proveedor-info {
        max-height: 250px;
        overflow-y: scroll;
    }
    .proveedor-info::-webkit-scrollbar {
        width: 0;
    }
}
