*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --principal-color:#379634;
    --secundo-color:#F1D302;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--fd-color);
    color: var(--texto-color);
}

/* Diseño del scroll bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--principal-color);
    border-radius: 5rem;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aqui inicia la sesión de menu de navegación*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
header.sticky {
    background: var(--fd-color);
    padding: 10px 18%;
    box-shadow: rgba(33,35,38 0.1) 0px 10px 10px -10px;
}
.sticky .menuNav a {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.sticky .menuNav a:hover {
    color: var(--principal-color);
}
.sticky .cuenta-texto  {
    color: var(--principal-color);
    font-size: 0.9rem;
}
.sticky .registro  {
    color: var(--texto-color);
    font-size: 0.9rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    font-size: 29px; 
    margin-right: 5px; 
}
.menuNav li a i {
    display: none;
}
.menuNav {
    display: flex;
}
.menuNav a {
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.menuNav a.activo {
    color: var(--principal-color);
}
.menuNav a:hover {
    color: var(--principal-color);
}
#menu-icon {
    font-size: 35px;
    color: var(--principal-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* sección de navegacion breakpoint*/
@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .menuNav a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px) {
    #menu-icon {
        display: block;  
        margin-right: 23px;
        z-index: 10001;
    }
    .menuNav {
        position: absolute;
        top: 100%;
        padding: 15px;
        right: -100%;
        width: 270px;
        height: 45vh;
        background: var(--principal-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 11px;
        transition: all .50s ease;
    }
    .menuNav a {
        display: block;
        margin: 9px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .menuNav a:hover {
        color: var(--fd-color);
        transform: translateY(5px);
    }
    .menuNav a.activo {
        color: var(--fd-color);
    }
    .menuNav li a i {
        display: inline-block; 
        font-size: 17px;
        align-items: center;
        margin-right: 5px;
    }
    .registro {
        display: none;
    }
    .menuNav.open {
        right: 2%;
    }
    header.sticky {
        padding: 10px 3%;
        transition: .2s;
    }
    .logo img {
        font-size: 29px; 
        margin-left: 35px; 
    }
    :root {
        --grande-fuente: 3.1rem;
        --h2-fuente:2rem;
        --p-fuente: 1rem;
    }
}

/* Estilos de la sección de opcion desplegable */
.principal {
    position: relative;
    display: inline-block;
}
.principal a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.principal a:hover {
    color: var(--principal-color);
}
.usuario {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--texto-color);
    cursor: pointer;
}
.usuario i {
    color: var(--principal-color);
    font-size: 25px;
    margin-right: 7px;
}
.cuenta-texto {
    margin-left: 1px;
}
.contenido-desplegable {
    display: none;
    position: absolute;
    background: var(--fd-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.contenido-desplegable a {
    color: var(--texto-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.contenido-desplegable a:hover {
    background-color: var(--fd-color);
}

/* sección de cuenta breakpoint */
@media (max-width: 600px) {
    .principal .usuario a {
        font-size: 5px;
    }
    .cuenta-texto {
        display: none;
    }
    .usuario {
        flex-direction: column;
        align-items: flex-start;
    }
    .contenido-desplegable {
        display: none;
        position: absolute;
        left: -100%;
        width: 100%;
        box-shadow: none;
    }
    .contenido-desplegable a {
        padding: 10px;
        border-top: 1px solid #ddd;
    }
}

/* Aqui inicia la sesión contacto*/
.inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.carrusel {
    position: relative;
    height: 100%;
}
.carrusel-interno {
    display: flex;
    height: 100%;
    animation: deslizamiento 15s infinite;
}
.carrusel-item {
    min-width: 100%;
    height: 100%;
    transition: all ease 0.5s;
}
.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.superposicion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}
.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.texto-inicio h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    color: var(--fd-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 23px;
}
.texto-inicio p {
    font-size: var(--p-fuente);
    margin-bottom: 33px;
}
/* Responsivo para tabletas y móviles */
@media (max-width: 768px) {
    .texto-inicio h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 480px) {
    .texto-inicio h1 {
        font-size: 3.5em;
    }
}
@keyframes deslizamiento {
    0%, 33% {
        transform: translateX(0);
    }
    33.33%, 66% {
        transform: translateX(-100%);
    }
    66.66%, 100% {
        transform: translateX(-200%);
    }
}

/* Aqui inicia la sesión informacion de contacto*/
.info-contacto {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 100px 0;
}
.contacto-item {
    flex: 1;
    padding: 0 23px;
}
.contacto-item .icono {
    font-size: 40px;
    background: var(--principal-color);
    color: #fff;
    padding: 21px ;
    margin: 55px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contacto-item h4 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--principal-color);
}
.contacto-item p {
    font-size: 17px;
    margin: 0;
}

/* Aqui inicia la sesión mapa de rutatur*/
.ubicacion-rutatur {
    text-align: center;
    padding: 20px;
}
.ubicacion-rutatur h2 {
    font-size: var(--h2-fuente);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 23px;
}
.mapa {
    display: flex;
    justify-content: center;
}
.mapa iframe {
    border: none;
    width: 80%;
    max-width: 1000px;
    height: 450px;
}
/* resposivo mapa */
@media (max-width: 768px) {
    .ubicacion-rutatur h2 {
        font-size: 22px;
    }
    .mapa iframe {
        width: 90%;
        height: 350px;
    }
}
@media (max-width: 480px) {
    .ubicacion-rutatur h2 {
        font-size: 20px;
    }
    .mapa iframe {
        width: 100%;
        height: 300px;
    }
}

/* Aqui inicia la sesión de contacto*/
.contenedor-fd-contacto {
    align-items: center;
    background: url(/imgs/fd-hojas-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contenedor-contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.contacto-caja {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background: var(--fd-color);
    box-shadow: 0px 0px 19px 5px rgb(0, 0, 0, 0.19);
}
.izquierdo {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 5px 0px;
    overflow: hidden;
}
.izquierdo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.derecho {
    padding: 25px 40px;
}
h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contacto-fila {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid var(--principal-color);
    background: rgb(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.contacto-fila:hover {
    background: rgb(0, 0, 0, 0.1);
}
.contacto-fila:focus {
    background: var(--fd-color);
    border: 1px solid var(--principal-color)
}
.area {
    min-height: 150px;
}
.contacto-boton {
    display: inline-block;
    width: 100%;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    color: var(--fd-color);
    border-radius: 50px;
    background: var(--principal-color);
    cursor: pointer;
    outline: none;
    border: none;  
    transition: transform 0.3s, filter 0.3s;
    text-decoration: none;
}
.contacto-boton:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}
/* sección de contacto breakpoint*/
@media screen and (max-width:880px) {
    .contacto-caja {
        grid-template-columns: 1fr;
    }
    .izquierdo {
        height: 200px;
        border-radius: 5px;
    }
}

/* Aquí inicia la sesión footer */
#contactonos {
    align-items: center;
    background: url(/imgs/footer-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 40px 80px;
    margin-top: 40px;
}
.pie-pag {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.lista {
    flex: 1 1 20%;
    min-width: 200px;
    margin-bottom: 20px;
}
.lista h4, .lista h3 {
    font-size: 19px;
    color: var(--fd-color);
    margin-bottom: 23px;
    position: relative;
}
.lista h4::before, .lista h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -11px;
    background: var(--fd-color);
}
.lista ul li:not(:last-child) {
    margin-bottom: 17px;
}
.lista ul {
    list-style: none;
    padding: 0;
}
.lista ul li {
    display: flex; 
    align-items: center; 
}
.lista ul li a {
    color: var(--fd-color);
    font-size: var(--p-fuente);
    display: block;
    margin-left: 7px;
    transition: 0.3s;
}
.lista ul li a:hover {
    color: var(--fd-color);
    transform: translateX(15px);
}
.lista ul li i {
    color: var(--fd-color); 
    font-size: 19px;
    transition: color 0.3s; 
    margin-right: 3px;
}
.lista .social a {
    height: 40px;
    width: 40px;
    background: var(--fd-color);
    color: var(--principal-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 23px;
    transition: 0.3s;
    margin-right: 9px;
}
.lista .social a:hover {
    transform: scale(1.1);
}
.texto-final {
    text-align: center;
    padding-top: 40px;
    flex-basis: 100%;
}
.texto-final p {
    color: var(--fd-color);
    font-size: 15px;
    letter-spacing: 2px;
}
/* sección de footer*/
@media (max-width: 575px) {
    html, 
    body {
        width: 100%;
        overflow-x: hidden ;
    }
    #contactonos {
        padding: 40px 20px;
        margin-top: 40px;
    }
    .lista {
        width: 100%;
    }
}

