*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --secundo-color:#5B8C5A;
    --principal-color:#596157;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--fd-color);
    color: var(--texto-color);
}

/* Diseño del scroll bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    border-radius: 5rem;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aqui inicia la sesión de menu de navegación*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
header.sticky {
    background: var(--fd-color);
    padding: 10px 18%;
    box-shadow: rgba(33,35,38 0.1) 0px 10px 10px -10px;
}
.sticky .menuNav a {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.sticky .menuNav a:hover {
    color: var(--secundo-color);
}
.sticky .cuenta-texto  {
    color: var(--secundo-color);
    font-size: 0.9rem;
}
.sticky .registro  {
    color: var(--texto-color);
    font-size: 0.9rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    font-size: 29px; 
    margin-right: 5px; 
}
.menuNav li a i {
    display: none;
}
.menuNav {
    display: flex;
}
.menuNav a {
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.menuNav a.activo {
    color: var(--secundo-color);
}
.menuNav a:hover {
    color: var(--secundo-color);
}
#menu-icon {
    font-size: 35px;
    color: var(--secundo-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* sección de portada y menu de navegacion Breakpoint*/
@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .menuNav a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px) {
    #menu-icon {
        display: block;  
        margin-right: 23px;
        z-index: 10001;
    }
    .menuNav {
        position: absolute;
        top: 100%;
        padding: 15px;
        right: -100%;
        width: 270px;
        height: 45vh;
        background: radial-gradient(circle, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 11px;
        transition: all .50s ease;
    }
    .menuNav a {
        display: block;
        margin: 9px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .menuNav a:hover {
        color: var(--fd-color);
        transform: translateY(5px);
    }
    .menuNav a.activo {
        color: var(--fd-color);
    }
    .menuNav li a i {
        display: inline-block; 
        font-size: 17px;
        align-items: center;
        margin-right: 5px;
    }
    .registro {
        display: none;
    }
    .menuNav.open {
        right: 2%;
    }
    header.sticky {
        padding: 10px 3%;
        transition: .2s;
    }
    .logo img {
        font-size: 29px; 
        margin-left: 35px; 
    }
    :root {
        --grande-fuente: 3.1rem;
        --h2-fuente:2rem;
        --p-fuente: 1rem;
    }
}

/* Aqui inicia la sesión de opcion desplegable*/
.principal {
    position: relative;
    display: inline-block;
}
.principal a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.principal a:hover {
    color: var(--secundo-color);
}
.usuario {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--texto-color);
    cursor: pointer;
}
.usuario i {
    color: var(--secundo-color);
    font-size: 25px;
    margin-right: 7px;
}
.cuenta-texto {
    margin-left: 1px;
}
.contenido-desplegable {
    display: none;
    position: absolute;
    background: var(--fd-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.contenido-desplegable a {
    color: var(--texto-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.contenido-desplegable a:hover {
    background-color: var(--fd-color);
}
.principal:hover .contenido-desplegable {
    display: block;
}
/* sección de cuenta breakpoint*/
@media (max-width: 600px) {
    .principal .usuario a {
        font-size: 5px;
    }
    .cuenta-texto {
        display: none;
    }
    .usuario {
        flex-direction: column;
        align-items: flex-start;
    }
    .contenido-desplegable {
        display: none;
        position: absolute;
        left: -100%;
        width: 100%;
        box-shadow: none;
        
    }
    .contenido-desplegable a {
        padding: 10px;
        border-top: 1px solid #ddd;
    }
}

/* Aqui inicia la sesión experiencia rutatur*/
.inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.carrusel {
    position: relative;
    height: 100%;
}
.carrusel-interno {
    display: flex;
    height: 100%;
    animation: deslizamiento 15s infinite;
}
.carrusel-item {
    min-width: 100%;
    height: 100%;
    transition: all ease 0.5s;
}
.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.superposicion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}
.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
}
.texto-inicio h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    color: var(--fd-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 23px;
}
.texto-inicio p {
    font-size: var(--p-fuente);
    margin-bottom: 33px;
}
/* responsivo carrusel portada */
@media (max-width: 768px) {
    .texto-inicio h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 480px) {
    .texto-inicio h1 {
        font-size: 3.5em;
    }
}
@keyframes deslizamiento {
    0%, 33% {
        transform: translateX(0);
    }
    33.33%, 66% {
        transform: translateX(-100%);
    }
    66.66%, 100% {
        transform: translateX(-200%);
    }
}

/* Estilos del botón flotante WhatsApp */
.boton-flotante-whatsapp {
    position: fixed;
    bottom: 85px; 
    right: 25px;  
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
}
.boton-flotante-whatsapp a {
    color: #fff;
    text-decoration: none;
}
.boton-flotante-whatsapp i {
    font-size: 23px;
}

/* Estilos del botón flotante añadir ruta */
.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: var(--secundo-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
}
.boton-flotante:hover {
    background: var(--secundo-color);
}
.boton-flotante i {
    font-size: 23px;
}
.insignia {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #fff;
    color: var(--secundo-color);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

/* Aqui inicia la sesión de experiencias*/
.experiencias {
    padding: 3.5rem; 
}
.titulo {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
}
.titulo h2 {
    margin-top: 55px;
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    line-height: 1.2;
}
.titulo span {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    color: var(--secundo-color);
}
.contenido-experiencias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    margin-top: 3.5rem;
    padding: 0 4.5rem; 
}
.caja-experiencia {
    position: relative;
    padding: 20px;
    border-radius: 11px;
    transition: all ease .50s;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.caja-experiencia img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.caja-experiencia h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.caja-experiencia h3:hover {
    color: var(--secundo-color);
    cursor: pointer;
}
.caja-experiencia h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.caja-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.caja-texto h5 {
    margin-top: 11px;
    font-size: 19px;
    font-weight: 600;
}
.bxx-btn {
    display: inline-block;
    padding: 9px 21px;
    margin-top: 11px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color);
    font-size: 13px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease .50s;
}
.bxx-btn:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
.boton-anadir-ruta {
    margin-left: 10px;
    display: inline-block;
    padding: 9px 21px;
    margin-top: 11px;
    background: transparent;
    color: var(--secundo-color);
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--secundo-color);
    border-radius: 5px;
    transition: all ease .50s;
    cursor: pointer;
}
.boton-anadir-ruta:hover {
    color: #fff;
    background: var(--secundo-color);
    transform: scale(1.1);
}
#carrito {
    margin-top: 20px;
}
#detalles-carrito {
    margin-top: 10px;
}
.item-carrito {
    margin-bottom: 5px;
}
.contenedor-valoracion {
    position: absolute;
    top: 33px;
    left: 33px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 11px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--fd-color);
}
.estrella {
    color: yellow;
    font-size: 18px;
    margin-right: 5px;
}
.valoracion {
    font-size: 16px;
}
.contenedor-corazon {
    position: absolute;
    top: 33px;
    right: 33px;
}
.corazon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}
.corazon.rojo {
    color: red;
}
p i.fas {
    color: var(--secundo-color);
    font-size: 17px;
    margin-right: 5px;
    margin-bottom: 9px;
}
p {
    font-size: 15px;
    align-items: center;
}
/* resposivo tablets y móviles */
@media (max-width: 1024px) { 
    .contenido-experiencias {
        grid-template-columns: repeat(2, 1fr); 
        padding: 0 1rem;
    }
}
@media (max-width: 768px) { 
    .contenido-experiencias {
        grid-template-columns: 1fr; 
        padding: 0 0.5rem; 
    }
}

/* Aqui inicia la sesión de testimonios*/
.testimonio {
    align-items: center;
    background: url(/imgs/fd-hojas-pajaro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 20px; 
}
.contenedor-testimonio {
    width: 100%;
    text-align: center;
    padding: 0 20px; 
}
.sub-contenedor {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; 
}
.titulo {
    position: relative;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 35px;
}
.titulo h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    line-height: 1.2;
}
.titulo span {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    color: var(--secundo-color);
}
.testimonios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}
.persona {
    max-width: calc(30% - 20px); 
    margin: 10px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    transition: 0.5s;
}
.persona:hover {
    box-shadow: 2px 2px 10px gray;
}
.persona img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border: 2px solid var(--secundo-color);
    border-radius: 50%;
}
.persona .nombre {
    text-transform: uppercase;
    font-size: 19px;
    color: var(--secundo-color);
    margin: 10px 0;
}
.persona .valoracion i {
    margin: 10px 0;
    color: yellow;
    font-size: 21px;
}
.persona .descripcion p {
    text-align: center;
    padding: 23px;
    color: var(--texto-color);
    font-size: 17px;
    line-height: 30px;
}
/* Sección de testimonios breakpoint */
@media screen and (max-width: 980px) {
    .persona {
        max-width: calc(45% - 20px); 
    }
}
@media screen and (max-width: 660px) {
    .persona {
        max-width: calc(100% - 20px); 
    }
}

/* Aqui inicia la sesión de blog*/
.blog {
    align-items: center;
    background: url(/imgs/fd-hojas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 20px; 
}
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    padding: 40px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);

}
.blog-encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gif-blog {
    position: absolute;
    top: -70px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}
.titulo h3 {
    font-size: 23px;
    font-weight: 500;
}
.titulo h3 span {
    font-size: 25px;
    font-weight: 800;
    color: var(--secundo-color);
}
.blog-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-caja {
    width: 350px;
    background: #fff;
    border: 1px solid #fff;
    margin: 20px;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-texto {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-texto span {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: var(--secundo-color);
}
.blog-texto .blog-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: var(--texto-color);
}
.blog-texto .blog-titulo:hover {
    color: var(--secundo-color);
    transition: all ease 0.3s;
}
.blog-texto p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: var(--texto-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-texto a {
    font-weight: 500;
    color: var(--fd-color);
}
.blog-boton {
    display: inline-block;
    width: 50%; 
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 15px 25px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color); 
    border-radius: 5px;
    cursor: pointer;
    transition: ease .4s;
}
.blog-boton:hover {
    color: var(--fd-color);
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
.blog-texto i {
    margin-right: 15px;
    font-size: 15px;
    align-items: center;
}

/* Aquí inicia la sesión footer */
#contactonos {
    background: radial-gradient(circle, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    padding: 40px 80px;
    margin-top: 40px;
}
.pie-pag {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.lista {
    flex: 1 1 20%;
    min-width: 200px;
    margin-bottom: 20px;
}
.lista h4, .lista h3 {
    font-size: 19px;
    color: var(--fd-color);
    margin-bottom: 23px;
    position: relative;
}
.lista h4::before, .lista h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -11px;
    background: var(--fd-color);
}
.lista ul li:not(:last-child) {
    margin-bottom: 17px;
}
.lista ul {
    list-style: none;
    padding: 0;
}
.lista ul li {
    display: flex; 
    align-items: center; 
}
.lista ul li a {
    color: var(--fd-color);
    font-size: var(--p-fuente);
    display: block;
    margin-left: 7px;
    transition: 0.3s;
}
.lista ul li a:hover {
    color: var(--fd-color);
    transform: translateX(15px);
}
.lista ul li i {
    color: var(--fd-color); 
    font-size: 19px;
    transition: color 0.3s; 
    margin-right: 3px;
}
.lista .social a {
    height: 40px;
    width: 40px;
    background: var(--fd-color);
    color: var(--principal-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 23px;
    transition: 0.3s;
    margin-right: 9px;
}
.lista .social a:hover {
    transform: scale(1.1);
}
.texto-final {
    text-align: center;
    padding-top: 40px;
    flex-basis: 100%;
}
.texto-final p {
    color: var(--fd-color);
    font-size: 15px;
    letter-spacing: 2px;
}
/* sección de footer*/
@media (max-width: 575px) {
    html, 
    body {
        width: 100%;
        overflow-x: hidden ;
    }
    #contactonos {
        padding: 40px 20px;
        margin-top: 40px;
    }
    .lista {
        width: 100%;
    }
}