*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --principal-color:#379634;
    --secundo-color:#F1D302;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--fd-color);
    color: var(--texto-color);
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aqui inicia la sesión de formulario de inicio de sesión*/
.formulario-sesion {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    margin-top: 33px;
    width: 100%;
    background: #fff;
    border: 2px solid var(--principal-color);
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.formulario-sesion .cerrar-boton {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 19px;
    font-weight: 600;
    color: var(--principal-color);
    cursor: pointer;
}
.formulario-sesion .formulario-caja{
    display: flex;
}
.formulario-caja .formulario-detalle {
    max-width: 330px;
    width: 100%;
    color: var(--fd-color);
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cuenta .formulario-detalle {
    background: url(/imgs/bienvenidos-a-rutatur.jpg);
    background-size: cover;
    background-position: center;
}
.formulario-caja h2 {
    text-align: center;
    margin-bottom: 30px;
}
.formulario-caja .formulario-contenido {
    width: 100%;
    padding: 35px;
}
.casilla-input {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.casilla-input input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    padding-right: 40px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid var(--principal-color);
}
.casilla-input i {
    position: absolute;
    right: 17px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #747474; 
}
.casilla-input input:focus {
    border-color: var(--principal-color);
}

.casilla-input input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.casilla-input label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: var(--texto-color);
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}
.casilla-input input:is(:focus, :valid) ~ label {
    color: var(--principal-color);
    font-size: 0.75rem;
    transform: translateY(-120%);
}
.formulario-caja a {
    color: var(--principal-color);
    text-decoration: none;
    font-weight: 500;
}
.formulario-caja a:hover {
    text-decoration: underline;
}
.formulario-caja :where(.contraseña-olvidada, .politicas-texto) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}
.contraseña-olvidada {
    display: inline-flex; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}
.contraseña-olvidada i {
    margin-left: 7px; 
    font-size: 1em; 
    vertical-align: middle; 
}
.boton {
    height: 45px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton .boton-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--fd-color);
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    background: var(--principal-color);
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    box-sizing: border-box;
    transition: transform 0.3s, filter 0.3s;
}
.boton .boton-inicio:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}
.boton-inicio i {
    margin-left: 5px; 
}
.formulario-caja .boton-enlace {
    text-align: center;
}
/* responsivo para tabletas y móviles */
@media (max-width: 760px) {
    body {
        background: var(--fd-color);
    } 
    .formulario-caja .formulario-detalle {
        display: none;
    }
    .formulario-caja .formulario-contenido {
        padding: 30px 20px;
    }
}