*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --secundo-color:#5B8C5A;
    --principal-color:#596157;
}
html, body {
  background: var(--fd-color);
  font-size: 18px;
}

/* Diseño de scroll bar */
html::-webkit-scrollbar {
    width: 0;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aquí inicia el código CSS de mensaje de registro exitoso*/
.popup-superposicion {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-contenedor-caja {
    background: var(--fd-color);
    width: 400px;
    height: auto;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 11px;
}

.check-contenedor {
    margin-bottom: 20px;
}

.check-contenedor img {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: 70px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0 0 10px #000;
}

.contenedor-mensaje h1 {
    font-size: 23px;
    color: var(--secundo-color);
    margin-top: 10px;
}

.contenedor-mensaje p {
    margin-top: 15px;
    font-size: 17px;
    color: var(--texto-color);
}

.boton-mensaje  {
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    border: transparent;
    border-radius: 5px;
    padding: 13px;
    color: var(--fd-color);
    margin-top: 20px;
    width: 25%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.boton-mensaje:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}


/* Estilo responsivo*/
@media (max-width: 768px) {
    .popup-contenedor-caja {
        width: 80%;
        height: auto;
        padding: 33px;
    }

    .check-contenedor {
        margin: 25px 0;
    }

    .contenedor-mensaje h1 {
        font-size: 33px;
    }

    .boton-mensaje {
        width: 50%;
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .popup-contenedor-caja {
        width: 90%;
        height: auto;
        padding: 23px;
    }

    .check-contenedor {
        margin: 20px 0;
    }

    .contenedor-mensaje h1 {
        font-size: 23px;
    }

    .contenedor-mensaje p {
        font-size: 17px;
    }

    .boton-mensaje {
        width: 70%;
        font-size: 15px;
    }
}