*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --principal-color:#379634;
    --secundo-color:#F1D302;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}
body {
    display: flex;
    height: 100vh;
    background: var(--fd-color);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* Diseño de scroll bar */
html::-webkit-scrollbar {
    width: 0;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aquí inicia el código CSS del formulario de registro */
.contenedor-registro-proveedor {
    max-width: 700px; 
    width: 100%;
    background: #fff; 
    padding: 25px 30px;
    border-radius: 5px;
    margin: 50px auto; 
    max-height: 90vh; 
    overflow-y: hidden;
}
.contenedor-registro-proveedor .titulo {
    font-size: 25px;
    font-weight: 700;
    position: relative;
}
.contenedor-registro-proveedor .titulo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--principal-color);
}
form .usuario-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .usuario-info .input-caja {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.input-caja .detalles {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-caja input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--principal-color);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-bottom-width: 2px;
}
.usuario-info .input-caja input:focus,
.usuario-info .input-caja input:valid {
    border-color: var(--principal-color);
}
.input-con-icono {
    position: relative;
    display: flex;
    align-items: center;
}
.input-con-icono input {
    padding-right: 40px; 
}
.input-con-icono i {
    position: absolute;
    right: 15px;
    color: #747474;
    font-size: 18px;
}
form .genero-detalles .genero-titulo {
    font-size: 21px;
    font-weight: 500;
}
form .genero-detalles .categoria {
    display: flex;
    width: 80%;
    margin: 15px 0;
    justify-content: space-between;
}
.genero-detalles .categoria label {
    display: flex;
    align-items: center;
}
.genero-detalles .categoria .punto {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 11px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#punto-1:checked ~ .categoria label .uno, 
#punto-2:checked ~ .categoria label .dos,
#punto-3:checked ~ .categoria label .tres {
    border-color: #d9d9d9;
    background: var(--principal-color);
}
form input[type="radio"] {
    display: none;
}
/* estilo para el botón */
.boton {
    height: 45px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton .boton-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--fd-color);
    border: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    background: var(--principal-color);
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
    text-decoration: none;
    box-sizing: border-box;
}
.boton .boton-registro:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}
.boton-registro i {
    margin-left: 5px; 
}
/* responsivo para tabletas y móviles */
@media (max-width: 584px) {
    body {
        background: var(--fd-color)
    }
    .contenedor-registro-proveedor {
        max-width: 100%;
        overflow-y: hidden;
    }
    form .usuario-info .input-caja {
        margin-bottom: 15px;
        width: 100%;
    }
    .boton .boton-registro {
        margin: 25px 0;
        display: block; 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form .genero-detalles .categoria {
        width: 100%;
    }
    .contenedor-registro-proveedor form .usuario-info {
        max-height: 300px;
        overflow-y: scroll;
    }
    .usuario-info::-webkit-scrollbar {
        width: 0;
    }
    .categoria {
        display: flex;
        flex-direction: column;
    }
    .categoria label {
        margin-bottom: 10px;
    }
}
@media (max-width: 400px) {
    body {
        background: var(--fd-color);
    }
    .contenedor-registro-proveedor {
        max-width: 100%;
        overflow-y: hidden;
    }
    form .usuario-info .input-caja {
        margin-bottom: 10px; 
        width: 100%;
    }
    .boton .boton-registro {
        margin: -10px 0; 
        padding: 8px; 
        font-weight: 600;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    form .genero-detalles .categoria {
        width: 100%;
    }
    .contenedor-registro-proveedor form .usuario-info {
        max-height: 250px; 
        overflow-y: scroll;
    }
    .usuario-info::-webkit-scrollbar {
        width: 0;
    }
    .categoria {
        display: flex;
        flex-direction: column;
    }
    .categoria label {
        margin-bottom: 8px; 
    }
}