*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --fd-color:#F2F2F2;
    --texto-color:#202030;
    --secundo-color:#5B8C5A;
    --principal-color:#596157;
    --grande-fuente: 6rem;
    --h2-fuente:3rem;
    --p-fuente: 1.1rem;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--fd-color);
    color: var(--texto-color);
}

/* Diseño del scroll bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    border-radius: 5rem;
}

/* Aqui inicia la sesión de precarga */
#precarga {
    background: #202030a6 url(/gifs/precarga.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Aqui inicia la sesión de menu de navegación*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
header.sticky {
    background: var(--fd-color);
    padding: 10px 18%;
    box-shadow: rgba(33,35,38 0.1) 0px 10px 10px -10px;
}
.sticky .menuNav a {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.sticky .menuNav a:hover {
    color: var(--secundo-color);
}
.sticky .cuenta-texto  {
    color: var(--secundo-color);
    font-size: 0.9rem;
}
.sticky .registro  {
    color: var(--texto-color);
    font-size: 0.9rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    font-size: 29px; 
    margin-right: 5px; 
}
.menuNav li a i {
    display: none;
}
.menuNav {
    display: flex;
}
.menuNav a {
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.menuNav a.activo {
    color: var(--secundo-color);
}
.menuNav a:hover {
    color: var(--secundo-color);
}
#menu-icon {
    font-size: 35px;
    color: var(--secundo-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* sección de portada y menu de navegacion breakpoint*/
@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .menuNav a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px) {
    #menu-icon {
        display: block;  
        margin-right: 23px;
        z-index: 10001;
    }
    .menuNav {
        position: absolute;
        top: 100%;
        padding: 15px;
        right: -100%;
        width: 270px;
        height: 45vh;
        background: radial-gradient(circle, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 11px;
        transition: all .50s ease;
    }
    .menuNav a {
        display: block;
        margin: 9px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .menuNav a:hover {
        color: var(--fd-color);
        transform: translateY(5px);
    }
    .menuNav a.activo {
        color: var(--fd-color);
    }
    .menuNav li a i {
        display: inline-block; 
        font-size: 17px;
        align-items: center;
        margin-right: 5px;
    }
    .registro {
        display: none;
    }
    .menuNav.open {
        right: 2%;
    }
    header.sticky {
        padding: 10px 3%;
        transition: .2s;
    }
    .logo img {
        font-size: 29px; 
        margin-left: 35px; 
    }
    :root {
        --grande-fuente: 3.1rem;
        --h2-fuente:2rem;
        --p-fuente: 1rem;
    }
}

/* Aqui inicia la sesión de opcion desplegable*/
.principal {
    position: relative;
    display: inline-block;
}
.principal a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--fd-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.principal a:hover {
    color: var(--secundo-color);
}
.usuario {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--texto-color);
    cursor: pointer;
}
.usuario i {
    color: var(--secundo-color);
    font-size: 25px;
    margin-right: 7px;
}
.cuenta-texto {
    margin-left: 1px;
}
.contenido-desplegable {
    display: none;
    position: absolute;
    background: var(--fd-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.contenido-desplegable a {
    color: var(--texto-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.contenido-desplegable a:hover {
    background-color: var(--fd-color);
}
.principal:hover .contenido-desplegable {
    display: block;
}
/* sección de cuenta breakpoint*/
@media (max-width: 600px) {
    .principal .usuario a {
        font-size: 5px;
    }
    .cuenta-texto {
        display: none;
    }
    .usuario {
        flex-direction: column;
        align-items: flex-start;
    }
    .contenido-desplegable {
        display: none;
        position: absolute;
        left: -100%;
        width: 100%;
        box-shadow: none;
        
    }
    .contenido-desplegable a {
        padding: 10px;
        border-top: 1px solid #ddd;
    }
}

/* Aqui inicia la sesión de portada*/
section {
    padding: 80px 11%;
}
.inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.inicio-texto h1 {
    font-size: var(--grande-fuente);
    line-height: 1.2;
    color: var(--fd-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-top: 21px;
}
.inicio-texto p {
    color: var(--fd-color);
    font-size: 19px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}
.contenedor-busqueda {
    display: flex;
    align-items: center;
    gap: 10px;
}
.barra-busqueda {
    padding: 15px 31px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid var(--fd-color);
    border-radius: 5px;
    width: 200px;
}
.boton-buscar {
    padding: 15px 31px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color);
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton-buscar:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);

}
/* sección de barra de busqueda breakpoint*/
@media (max-width: 768px) {
    .busqueda-container {
        flex-direction: column;
        gap: 5px;
    }
    .barra-busqueda {
        margin-bottom: 3px;
        width: 100%;
        font-size: 11px;
    }
    .boton-buscar {
        width: 100%;
        font-size: 13px;
    }
}
.fondo-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.video-superposicion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295); 
    z-index: -1;
}
/* Video breakpoints*/
@media(min-aspect-ratio:16/9) {
    .fondo-video {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9) {
    .fondo-video {
        width: auto;
        height: 100%;
    }
}

/* Estilos del botón flotante WhatsApp */
.boton-flotante-whatsapp {
    position: fixed;
    bottom: 85px; 
    right: 25px;  
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
}
.boton-flotante-whatsapp a {
    color: #fff;
    text-decoration: none;
}
.boton-flotante-whatsapp i {
    font-size: 23px;
}
.boton-flotante-whatsapp:hover {
    transform: scale(1.05);
}

/* Estilos del botón flotante añadir ruta */
.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: var(--secundo-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
}
.boton-flotante:hover {
    background: var(--secundo-color);
}
.boton-flotante i {
    font-size: 23px;
}
.insignia {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #fff;
    color: var(--secundo-color);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

/* Estilos del botón calculadora */
#botonClima {
    bottom: 190px; 
}
#botonClima:hover {
    transform: scale(1.05);
}
#botonCalculadora {
    bottom: 260px
}
#botonCalculadora:hover {
    transform: scale(1.05);
}
/* Responsividad de los botones flotantes */
@media (max-width: 768px) {
    .boton-flotante-whatsapp,
    .boton-flotante,
    #botonClima {
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;
    }
    .boton-flotante-whatsapp i,
    .boton-flotante i,
    #botonClima i {
        font-size: 20px;
    }
    .insignia {
        font-size: 11px;
        padding: 1px 5px;
    }
    #botonClima {
        bottom: 150px; 
    }
}
@media (max-width: 480px) {
    .boton-flotante-whatsapp,
    .boton-flotante,
    #botonClima {
        width: 45px;
        height: 45px;
        bottom: 10px;
        right: 10px;
    }
    .boton-flotante-whatsapp i,
    .boton-flotante i,
    #botonClima i {
        font-size: 17px;
    }
    .insignia {
        font-size: 10px;
        padding: 1px 4px;
    }
    #botonClima {
        bottom: 60px; 
    }
    #botonCalculadora {
        bottom: 110px; 
    }
}

/* Aqui inicia la sesión de tipos de rutas turisticas*/
.rutas-tipos {
    margin-top: 55px;
    align-items: center;
    background: url(/imgs/fd-hojas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.texto h2 {
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: var(--h2-fuente);
    line-height: 1.1;
}
.texto span {
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: var(--h2-fuente);
    line-height: 1.1;
    color: var(--secundo-color);
}
.fila-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.contenedor-caj {
    background: var(--fd-color);
    border: 1px solid #F0eded;
    padding: 50px 10px;
    border-radius: 5px;
    transition: all 1s ease 0s;
    cursor: pointer;
}
.contenedor-gif img {
    height: 85px;
    width: 85px;
    padding: 15px;
    background: var(--fd-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.contenedor-caj h4 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
}
.contenedor-caj p {
    font-size: 15px;
    color: var(--secundo-color);
}
.contenedor-caj:hover {
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}
/* sección de barra de tipos de rutas breakpoint*/
@media (max-width: 768px) { 
    .fila-items {
        grid-template-columns: 1fr;
    }
    .contenedor-caj {
        padding: 20px; 
        max-width: none; 
    }
}

/* Aqui inicia la sesión de experiencias*/
.titulo {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
}
.titulo h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    line-height: 1.2;
}
.titulo span {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    color: var(--secundo-color);
}
.contenido-experiencias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}
.caja-experiencia {
    position: relative;
    padding: 20px;
    border-radius: 11px;
    transition: all ease .50s;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
.caja-experiencia img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.caja-experiencia h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.caja-experiencia h3:hover {
    color: var(--secundo-color);
    cursor: pointer;
}
.caja-experiencia h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.caja-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.caja-texto h5 {
    margin-top: 11px;
    font-size: 19px;
    font-weight: 600;
}
.bxx-btn {
    display: inline-block;
    padding: 9px 21px;
    margin-top: 11px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color);
    font-size: 13px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease .50s;
}
.bxx-btn:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
.boton-anadir-ruta {
    margin-left: 10px;
    display: inline-block;
    padding: 9px 21px;
    margin-top: 11px;
    background: transparent;
    color: var(--secundo-color);
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--secundo-color);
    border-radius: 5px;
    transition: all ease .50s;
    cursor: pointer;
}
.boton-anadir-ruta:hover {
    color: #fff;
    background: var(--secundo-color);
    transform: scale(1.1);
}
.contenedor-valoracion {
    position: absolute;
    top: 33px;
    left: 33px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 11px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--fd-color);
}
.estrella {
    color: yellow;
    font-size: 18px;
    margin-right: 5px;
}
.valoracion {
    font-size: 16px;
}
.contenedor-corazon {
    position: absolute;
    top: 33px;
    right: 33px;
}
.corazon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}
.corazon.rojo {
    color: red;
}
p i.fas {
    color: var(--secundo-color);
    font-size: 17px;
    margin-right: 5px;
    margin-bottom: 9px;
}
p {
    font-size: 15px;
    align-items: center;
}
.contenedor-boton-ver-mas {
    text-align: center;
    margin-top: 31px;
    align-items: center;
}
.boton-ver-mas {
    margin-left: 10px;
    display: inline-block;
    padding: 9px 21px;
    margin-top: 11px;
    background: transparent;
    color: var(--secundo-color);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--secundo-color);
    border-radius: 5px;
    transition: all ease .50s;
    cursor: pointer;
}
.boton-ver-mas:hover {
    color: #fff;
    background: var(--secundo-color);
    transform: scale(1.05);
}
@media (max-width: 480px) {
    .boton-anadir-ruta {
        padding: 9px 15px;
        font-size: 13px;
    }
}

/*Aqui inicia la sesión de galería*/
.galeria {
    align-items: center;
    background: url(/imgs/fd-hojas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.titulo span {
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: var(--h2-fuente);
    line-height: 1.1;
    color: var(--secundo-color);
}
.contenedor-galeria {
    position: relative;
    background: var(--fd-color);
}
.contenedor-galeria .contenedor-imagen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.contenedor-galeria .contenedor-imagen .imagen {
    height: 250px;
    width: 350px;
    border: 10px solid var(--fd-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    cursor: pointer;
}
.contenedor-galeria .contenedor-imagen .imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2 linear;
}
.contenedor-galeria .contenedor-imagen .imagen:hover img {
    transform: scale(1.1);
}
.contenedor-galeria .popup-imagen {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 10001;
    display: none;
}
.contenedor-galeria .popup-imagen span {
    position: absolute;
    top: 0;
    right: 33px;
    font-size: 33px;
    font-weight: bolder;
    color: var(--fd-color);
    cursor: pointer;
    z-index: 100;
}
.contenedor-galeria .popup-imagen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--fd-color);
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
/* sección de galeria breakpoint*/
@media (max-width: 768px) {
    .contenedor-galeria .contenedor-imagen {
        grid-template-columns: 1fr; 
    }
    .contenedor-galeria .contenedor-imagen .imagen {
        height: auto;
        width: 100%;
    }
    .popup-imagen img {
        width: 90%;
        max-width: 350px;
    }

    .popup-imagen span {
        font-size: 19px;
        top: -20px;
        right: 20px;
    }
}

/* Aqui inicia la sesión de testimonios*/
.testimonio {
    align-items: center;
    background: url(/imgs/fd-hojas-pajaro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contenedor-testimonio {
    width: 100%;
    text-align: center;
}
.sub-contenedor {
    max-width: 1200px;
    margin: auto;
}
.testimonios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.persona {
    max-width: 30%;
    margin: 10px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    transition: 0.5s;
}
.persona:hover {
    box-shadow: 2px 2px 10px gray;
}
.persona img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border: 2px solid var(--secundo-color);
    border-radius: 50%;
}
.persona .nombre {
    text-transform: uppercase;
    font-size: 19px;
    color: var(--secundo-color);
    margin: 10px 0;
}
.persona .valoracion i {
    margin: 10px 0;
    color: yellow;
    font-size: 21px;
}
.persona .descripcion p {
    text-align: center;
    padding: 23px;
    color: var(--texto-color);
    font-size: 17px;
    line-height: 30px;
}
/* sección de testimonios breakpoint*/
@media screen and (max-width:980px) {
    .persona {
        max-width: 45%;
    }
}
@media screen and (max-width:660px) {
    .persona {
        max-width: 100%;
    }
}

/* Aqui inicia la sesión de nosotros */
.sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.contenedor {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.imagen-contenedor {
    flex: 1;
    text-align: center;
}
.imagen-contenedor img {
    max-width: 100%;
    border-radius: 5px;
}
.contenido {
    flex: 2;
    padding-left: 50px;
}
.contenido h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    margin-bottom: 10px;
}
.contenido span {
    font-family: 'Paytone One', sans-serif;
    font-size: var(--h2-fuente);
    margin-bottom: 10px;
    color: var(--secundo-color);
}
.contenido h3 {
    font-size: 21px;
    margin-bottom: 20px;
}
.contenido p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.boton-conocenos-contenedor {
    text-align: left;
    margin-top: 20px; 
}
.boton-conocenos {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 23px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color);
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease 0.5s;
    text-decoration: none;
}
.boton-conocenos:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
.destacados {
    display: flex;
    justify-content: space-around;
}
.destacado {
    text-align: center;
}
.destacado h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--secundo-color);
    margin-bottom: 5px;
}
.destacado p {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
/* sección de nosotros breakpoint*/
@media (max-width: 1024px) {
    .contenedor {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
    }
    .contenido {
        padding-left: 0;
    }
    .destacados {
        flex-direction: column;
    }
    .destacado {
        margin-bottom: 20px;
    }
    @media (max-width: 768px) {
        .boton-conocenos-contenedor {
            text-align: center;
        }
        .boton-conocenos {
            width: 50%;
            padding: 10px 0;
        }
    }
}
@media (max-width: 480px) {
    .contenedor {
        padding: 0 15px;
    }
    .contenido p {
        font-size: 17px;
    }
    .destacado h4 {
        font-size: 23px;
    }
}

/* sección de descuentos y ofertas especiales*/
.ofertas-especiales {
    height: 70vh;
    align-items: center;
    background: url(/imgs/fd-videojuego.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.contenedor-ofertas {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 33px 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 20px;
}
.contenedor-ofertas h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 33px;
    margin-bottom: 11px;
}
.contenedor-ofertas p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn-contacto {
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color);
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
.btn-contacto:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
/* sección de descuentos y ofertas breakpoint*/
@media (max-width: 768px) {
    .contenedor-ofertas {
        padding: 15px 20px;
    }
    .contenedor-ofertas h2 {
        font-size: 21px;
    }
    .contenedor-ofertas p {
        font-size: 19px;
    }
    .btn-contacto {
        font-size: 19px;
    }
}
@media (max-width: 480px) {
    .contenedor-ofertas {
        padding: 21px 15px;
    }
    .contenedor-ofertas h2 {
        font-size: 27px;
    }
    .contenedor-ofertas p {
        font-size: 17px;
    }
    .btn-contacto {
        font-size: 15px;
        padding: 9px 13px;
    }
}

/* Aqui inicia la sesión de blog*/
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    padding: 40px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);

}
.blog-encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gif-blog {
    position: absolute;
    top: -70px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}
.titulo h3 {
    font-size: 23px;
    font-weight: 500;
}
.titulo h3 span {
    font-size: 25px;
    font-weight: 800;
    color: var(--secundo-color);
}
.blog-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-caja {
    width: 350px;
    background: #fff;
    border: 1px solid #fff;
    margin: 20px;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-texto {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-texto span {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: var(--secundo-color);
}
.blog-texto .blog-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: var(--texto-color);
}
.blog-texto .blog-titulo:hover {
    color: var(--secundo-color);
    transition: all ease 0.3s;
}
.blog-texto p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: var(--texto-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-texto a {
    font-weight: 500;
    color: var(--fd-color);
}
.blog-boton {
    display: inline-block;
    width: 50%; 
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 15px 25px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    color: var(--fd-color); 
    border-radius: 5px;
    cursor: pointer;
    transition: ease .4s;
}
.blog-boton:hover {
    color: var(--fd-color);
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
.blog-texto i {
    margin-right: 15px;
    font-size: 15px;
    align-items: center;
}

/* Aqui inicia la sesión de contacto*/
.contenedor-fd-contacto {
    align-items: center;
    background: url(/imgs/fd-hojas-pajaro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.contenedor-contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.contacto-caja {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background: var(--fd-color);
    box-shadow: 0px 0px 19px 5px rgb(0, 0, 0, 0.19);
}
.izquierdo {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 5px 0px;
    overflow: hidden;
}
.izquierdo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.derecho {
    padding: 25px 40px;
}
h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contacto-fila {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid var(--secundo-color);
    background: rgb(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.contacto-fila:hover {
    background: rgb(0, 0, 0, 0.1);
}
.contacto-fila:focus {
    background: var(--fd-color);
    border: 1px solid var(--principal-color)
}
.area {
    min-height: 150px;
}
.contacto-boton {
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    color: var(--fd-color);
    border-radius: 5px;
    background: linear-gradient(to right, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
    cursor: pointer;
    outline: none;
    border: none;  
    transition: .3s;
    text-decoration: none;
}
.contacto-boton:hover {
    background: linear-gradient(to right, #596157, #5b6c58, #5c7658, #5c8159, #5b8c5a);
    transform: scale(1.1);
}
/* sección de contacto breakpoint*/
@media screen and (max-width:880px) {
    .contacto-caja {
        grid-template-columns: 1fr;
    }
    .izquierdo {
        height: 200px;
        border-radius: 5px;
    }
}

/*Aqui inicia la sesión footer*/
#contactonos {
    background: radial-gradient(circle, #5b8c5a, #5c8159, #5c7658, #5b6c58, #596157);
}
.principal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pie-pag {
    padding: 20px 0;
}
.lista {
    width: 25%;
    margin-bottom: 20px;
}
.lista h4, .lista h3 {
    font-size: 19px;
    color: var(--fd-color);
    margin-bottom: 31px;
    position: relative;
}
.lista h4::before, .lista h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: var(--fd-color);
}
.lista ul li:not(:last-child) {
    margin-bottom: 17px;
}
.lista ul li {
    display: flex;
    align-items: center;
}
.lista ul li a {
    color: var(--fd-color);
    font-size: var(--p-fuente);
    display: block;
    margin-left: 7px;
    transition: 0.3s;
}
.lista ul li a:hover {
    color: var(--fd-color);
    transform: translateX(15px);
}
.lista ul li i {
    color: var(--fd-color);
    font-size: 19px;
    transition: color 0.3s;
    margin-right: 5px;
}
.lista .social a {
    height: 37px;
    width: 37px;
    background: var(--fd-color);
    color: var(--principal-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 23px;
    transition: 0.3s;
    margin-right: 5px;
}
.lista .social a:hover {
    transform: scale(1.1);
}
.texto-final {
    text-align: center;
    padding-top: 90px;
}
.texto-final p {
    color: var(--fd-color);
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}
/* sección de footer reakpoint*/
@media (max-width: 575px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .lista {
        width: 100%;
    }
}

/* Estilos del botón flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #5b8c5a;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #496e49;
}

.floating-button i {
    font-size: 24px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}












